################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BD/bin/Debug/raporcik_15_06_2017.pdf
